html, body {
	padding: 0;
	margin: 0;
	background-color: #282c34;
	font-family:'Lato', Verdana, Helvetica, sans-serif;
}

/* App Specific styles */

.App {
  min-width: 70vw;
  margin-left: auto;
  margin-right: auto;
  background-color: #282c34;
}

.App-Header {
  width: 100%;
  display: block;
  text-align: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Building {
	margin-left: auto;
	margin-right: auto;
	width: 60em;
	min-height: calc(5em*17 + 2em);
	/* border: solid 1px orange; */
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	background-color: #ddd3b8;
	-webkit-box-shadow: inset 13px 9px 7px -5px rgba(143,107,53,1);
	-moz-box-shadow: inset 13px 9px 7px -5px rgba(143,107,53,1);
	box-shadow: inset 13px 9px 7px -5px rgba(143,107,53,1);
}

.Floors {
	vertical-align: bottom;
	display: inline-flex;
	flex-direction: column;
	justify-content: flex-end;
	width: 36.5%;
	height: 100%;
}

.Elevators {
	vertical-align: bottom;
	display: inline-flex;
	flex-direction: row;
	align-items: stretch;
	width: 63%;
	/* min-height: calc(5em*17 + 2em); */
	height: 100%;
}

.Elevators .Elevator-Line {
	width: 10em;
	margin-left: 3em;
}

/* DEBUG STYLES */

.Elevators .Elevator-Line.debug {
	border: solid 1px gray;
}


.Elevators.debug {
	outline: solid 1px white;
}

.Floors.debug {
	outline: solid 1px purple;
}