html, body {
	padding: 0;
	margin: 0;
	background-color: #282c34;
}

/* App Specific styles */

.App {
  min-width: 80vw;
  margin-left: auto;
  margin-right: auto;
  background-color: #282c34;
}

.App-Header {
  width: 100%;
  display: block;
  text-align: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Building {
	margin-left: auto;
	margin-right: auto;
	width: 70em;
	min-height: calc(5em*17 + 2em);
	border: solid 1px orange;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	background-color: #ddd3b8;
}

.Floors {
	vertical-align: top;
	display: inline-flex;
	flex-direction: column;
	width: 40%;
	height: 80em;
	min-height: calc(5em*17 + 2em);
}

.Elevators {
	vertical-align: top;
	display: inline-flex;
	flex-direction: row;
	align-items: stretch;
	border: solid 1px white;
	width: 59%;
	min-height: calc(5em*17 + 2em);
}

.Elevators .Elevator-Line {
	border: solid 1px gray;
	width: 10em;
	margin-left: 3em;
}