.CallButton {
	display: inline-flex;
	flex-direction: column-reverse;
}

.CallButton button {
	width: 90%;
	padding: 3px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 4px;
	border-radius: 5px;
	height:  3em;
	cursor: pointer;
	font-size: 12px;
}

.CallButton button:hover {
	background-color: #ffffff;
	color: #009ac9;
	border-color: #009ac9;
}