.ControlPanel {
	min-width: 20em;
	height: 8em;
	margin: 0;
}

.ControlPanel > * {
	height: 4em;
	margin-top: auto;
	margin-bottom: auto;
	vertical-align: middle;
}

.ControlPanel .CallButton {
	width: 4em;
} 

.ControlPanel .FloorSelector {
	width: 8em;
	display: inline-block;
}

/* DEBUG STYLES  */

.ControlPanel.debug {
	outline: solid 1px green;
}

.ControlPanel > *.debug {
	outline: solid 1px red;
}