
.ControlPanel {
	min-width: 20em;
	height: 8em;
	margin: 0;
}

.ControlPanel .CallButton {
	margin-top: 3px;
	width: 4em;
	display: inline-block;
}

.ControlPanel .FloorSelector {
	margin-top: 3px;
	width: 8em;
	display: inline-block;
}

/* DEBUG STYLES  */

.ControlPanel.debug {
	outline: solid 1px green;
}