
.Elevator-Line {
	display: flex;
	flex-direction: column;
}

.Elevator {
	width: 100%;
	height: 5em;
	background-color: cadetblue;
}

.Elevator h4 {
	text-align: center;
	margin-top: 0.8em;
}

.Elevator h6 {
	text-align: center;
	margin-top: 0.5em;
}

.Elevator-Stub {
	width: 100%;
	height: 5em;
}

/* DEBUG STYLES */

.Elevator.debug {
	outline: solid 1px yellow;
}

.Elevator-Stub.debug {
	outline: dashed 1px red;
}