
.Floor {
	padding: 0;
	margin: 0;
	display: block;
	height: 5em;
}

.Floor > * {
	display: inline-block;
	margin-left: 10px;
	height: 100%;
}

.Floor > .Floor-Name {
	min-width: 8em;
	color: brown;
}

.Floor > .ControlPanel {
	min-width: 10em;
	height: 100%;
}

/* DEBUG STYLES */
.Floor.debug {
	outline: solid 1px yellow;
}