
.Floor {
	padding: 0;
	margin: 0;
	display: block;
	height: 5em;
	border-bottom: dashed 2px darkolivegreen;
}

.Floor > * {
	display: inline-block;
	margin-left: 10px;
	height: 100%;
}

.Floor > .Floor-Name {
	min-width: 7em;
	color: brown;
	margin-left: 1.5em;
}

.Floor > .ControlPanel {
	min-width: 10em;
	height: 100%;
}

/* DEBUG STYLES */
.Floor.debug {
	outline: solid 1px yellow;
}