
.Floor {
	height: 8em;
	width: 100%;
	border: solid 1px blue;
}

.Floor > * {
	display: inline-block;
	margin-left: 10px;
	height: 100%;
}

.Floor > .Floor-Name {
	min-width: 10em;
	min-height: 6em;
	color: white;
}

.Floor > .ControlPanel {
	min-width: 10em;
	height: 100%;
}